{% extends "base_bootstrap.html" %}

{% block content %}
<div class="text-center">
<div class="container">
<div class="row align-items-center">
<div class="col">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">{{title}}</h1>
            <p class="lead"> 
                Fill out this form below to continue!
            </p>
        </main>
        </div>
</div>
</div>
</div>
</div>

{% if errors %}
<div class="alert alert-dismissable alert-warning">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h4 class="alert-heading">Warning</h4>
    <p>{{ errors }}</p>
</div>
{% endif %}

<form action="{{ form_action }}" method="post">
    {% csrf_token %}

    {% if error_message %}
    <p class= "text-danger">*{{ error_message }}</p>
    {% endif %}

        {% for input in form %}
        <label for="{{ input.id }}" class="form-label mt-4"> {{ input.label }}:</label>
        {{ input }}
        {% endfor %}
    

    <p></p>
    <p></p>

    
    <input type="submit" class="btn btn-primary" value="Submit">
    <a href="{% url 'home:home_page' %}" class="btn btn-secondary">Cancel</a>
    
</form>

{% if events %}
<p></p>
<p></p>
<h3> Your events </h3>
<ul>
    {% for event in events %}
    <li> 
        {{event}} | <a href="{% url 'home:event_update' group.id event.id %}"> Edit </a> | <a href="{% url 'home:event_delete' event.id %}"> Delete </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
