{% extends "base_bootstrap.html" %}

{% block content %}
<div class="container">

    {% if not ismember %}
    <h1> {{ trip }} detail view  | <a class="btn btn-primary" href="{% url 'home:trip_join' trip.id %}"> Join this Trip </a></h1><br>
    {% else %}
    <h1> {{ trip }} detail view </h1>
    {% endif %}
    <ul>
        <li> Trip ID: {{ trip.id }}  </li>
        <li> Trip Key: {{ trip.key }}</li>
        <li> Start date: {{ trip.start_date }} </li>
        <li> End date: {{ trip.end_date }} </li>
    </ul>
    <a href="{% url 'home:event_create' trip.id %}" class="btn btn-primary">Add an event</a> | 
    <a href="{% url 'home:trip_list' %}" class="btn btn-secondary">Back to list</a>

    <p></p>

    {% if events %}
    <h3> Planned events... </h3>
    <div class="accordion" id="EventAccordian">
        {% for position, event in events.items %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ position }}" aria-expanded="false" aria-controls="{{ position }}">
                    {{ event }} | {{ event.start_date }} to {{ event.end_date }}
                </button>   
            </h2>
            <div id={{position}} class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#EventAccordian">
                <div class="accordion-body">
                {{ event }} <br>
                location: {{ event.location }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3> Planned events... </h3>
    <p> You have no events planned for this trip. </p>
    {% endif %} 
    <p></p>
    <h3> Current Trip Members </h3>
    {% if members %}
        {% for member in members %}
            <ul>
                <li><p> {{member.user}} </p></li>
            </ul>
        {% endfor %}
    {% else %}
    <p> There are currently no members in your trip </p>
    {% endif %}
</div>

{% if trip.owner == user %}
<p></p>
<p></p>
<a href="{% url 'home:trip_delete' trip.id %}"> Delete this Trip </a><br>
<a href="{% url 'home:trip_update' trip.id %}"> Edit this Trip </a><br>
{% if not ismember %}
<a href="{% url 'home:trip_join' trip.id %}"> Join this Trip </a><br>
{% endif %}
{% endif %}
{% endblock %}
