{% extends "base_bootstrap.html" %}

{% block content %}
<div class="container">

    {% if not ismember %}
    <h1> {{ trip }} detail view  | <a class="btn btn-primary" href="{% url 'home:trip_join' trip.id %}"> Join this Trip </a></h1><br>
    {% else %}
    <h1> {{ trip }} detail view </h1>
    {% endif %}
    <div class="container">
        <div class="row">
        <div class="col">
            <h3> Trip Details </h3>
            <ul>
                <li> Trip ID: {{ trip.id }}  </li>
                <li> Trip Key: {{ trip.key }}</li>
                <li> Start date: {{ trip.start_date }} </li>
                <li> End date: {{ trip.end_date }} </li>
            
            </ul>
        </div>
        <div class="col">
            <h3> Current Trip Members </h3>
            {% if members %}
            {% for member in members %}
            <ul>
                <li><p> {{member.user}} </p></li>
            </ul>
            {% endfor %}
            {% else %}
            <p> There are currently no members in your trip </p>
            {% endif %}
        </div>
        </div>
    </div>
    <a href="{% url 'home:event_create' trip.id %}" class="btn btn-primary">Add an event</a> | 
    <a href="{% url 'home:trip_list' %}" class="btn btn-secondary">Back to list</a>

    <p></p>

    {% if unconf_events or conf_events %}
    <div class="container">
        <div class="row">
            <div class="col">
            <h3> Confirmed events... </h3>
            <div class="accordion" id="EventAccordian">
            {% for position, event in conf_events.items %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ position }}" aria-expanded="false" aria-controls="{{ position }}">
                        {{ event }} | {{ event.start_date }} to {{ event.end_date }}
                    </button>   
                </h2>
                <div id={{position}} class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#EventAccordian">
                    <div class="accordion-body">
                    {{ event }} <br>
                    location: {{ event.location }}
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
        <div class="col">
            <h3> Unconfirmed Events... </h3>
            <P> Click on an event below to view and vote. </P>
            <ul class="list-group">
            {% for position, event in unconf_events.items %}
                 <a href="{% url 'home:event_detail'  event.trip.id  event.id %}" class="list-group-item list-group-item-action">{{ event }} | {{ event.start_date }} to {{ event.end_date }}</a>
            {% endfor %}
            </ul>
        </div>
        </div>
    </div>
    </div>
    {% else %}
    <h3> Planned events... </h3>
    <p> You have no events planned for this trip. </p>
    {% endif %}
    
    <p></p>
    <p></p>
    
    <div class="container">
    <h3> Comments </h3>
    {% if comments %}
        {% for comment in comments %}
        <div class="card border-primary mb-1" style="max-width: 30rem;">
            <div class="card-body">
              <p class="card-text"> <span class="text-secondary"><strong>{{ comment.owner }} says... </strong></span> <br> {{ comment.text }} <br> Created at: {{ comment.created_at}}</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p> There are currently no comments... </p>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col">
        <form action="{% url 'home:comment_create_view' trip.id %}" method="post">
            {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Comment here" aria-label="comment" aria-describedby="button-addon2" name="comment">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Submit</button>
        </div>
        </form>
        </div>
        <div class="col"></div>
    </div>
</div>

{% if trip.owner == user %}
<p></p>
<p></p>
<a href="{% url 'home:trip_delete' trip.id %}"> Delete this Trip </a><br>
<a href="{% url 'home:trip_update' trip.id %}"> Edit this Trip </a><br>
{% if not ismember %}
<a href="{% url 'home:trip_join' trip.id %}"> Join this Trip </a><br>
{% endif %}
{% endif %}
{% endblock %}
