{% extends "base_bootstrap.html" %}

{% block content %}
<h1> {{ trip }} detail view </h1>
<ul>
    <li> Trip ID: {{ trip.id }}  </li>
    <li> Start date: {{ trip.start_date }} </li>
    <li> End date: {{ trip.end_date }} </li>
</ul>
<a href="{% url 'home:event_create' trip.id %}" class="btn btn-primary">Add an event</a> | 
<a href="{% url 'home:trip_list' %}" class="btn btn-secondary">Back to list</a>

<p></p>

<h3> Your scheduled events </h3>

{% if events %}
<ul>
    {% for event in events %}
    <li>{{event}} <br> Location: {{ event.location }}</li> 
    {% endfor %}
</ul>
{% else %}
<p> --Currently no events confirmed for your trip-- </p>
{% endif %}
 
{% if trip.owner == user %}
<p></p>
<p></p>
<a href="{% url 'home:trip_delete' trip.id %}"> Delete this Trip </a><br>
<a href="{% url 'home:trip_update' trip.id %}"> Edit this Trip </a>
{% endif %}
{% endblock %}
