{% extends "base_bootstrap.html" %}

{% block content %}
{% load static %}
<div id="intro" class="p-5 text-center">
    {% if usertrips %}
    <h1 class="mb-3 h2">Your Trips</h1>
    <p class="mb-3">Below is a list of trips that you are currently the member of. The top one is your most upcoming trip.</p>
    {% else %}
    <h1 class="mb-3 h2">Trips</h1>
    <p class="mb-3">Below is a list of all trips</p>
    {% endif %}
    <a class="btn btn-primary m-2" href="{% url 'home:trip_list' %}">View all trips</a>
    <a class="btn btn-primary m-2" href="{% url 'home:trip_create' %}">Create a new trip</a>
</div>
<p></p>
<p></p>
<div class="container">
    <div class="container">
        {% for trip in trip_list %}
        <div class="row mb-2">
            <div class="col-md-14">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0 text-primary">{{trip}}</h3>
                <div class="mb-1 text-muted">{{trip.start_date}} - {{trip.end_date}}</div>
                <p class="card-text mb-auto">Description for a trip</p>
                <a href="{% url 'home:trip_detail' trip.id %}" class="stretched-link">View Trip</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="rounded-circle" alt="100x100" src="{% static 'icons/vacations.png' %}" data-holder-rendered="true">
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
