{% extends "base_bootstrap.html" %}

{% block content %}
<h1>Trips</h1>
<p>Here is a collection of current trips</p>
{% if trip_list %}
<ul>
    {% for trip in trip_list %}
    <li> <a href="{% url 'home:trip_detail' trip.id %}"> {{ trip }}</a> </li>
    {% endfor %}
</ul>
{% else %}
    <p>There are no current trips</p>
{% endif %}
<a href="{% url 'home:trip_create' %}" class="btn btn-secondary">Create Trip</a> | 
<a href="{% url 'home:home_page' %}" class="btn btn-secondary">Back to home page</a>
{% endblock %}
